# .gitignore

# 1. Скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 2. Виртуальные окружения
.venv/
venv/
env/

# 3. Файлы кэша
.pytest_cache/

# 4. Файлы IDE и ОС
.vscode/
.DS_Store
Thumbs.db